# This job checks that picus and the halo2 frontend without the llzk deps builds for 1.85

name: Continuous Integration (1.85)

on:
  pull_request:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: 
          - release
          - dev
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Cache cargo crates
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.BUILD_TARGET }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build picus in "${{ matrix.BUILD_TARGET }}" mode
        run: cargo +1.85.0 build -p picus --profile ${{ matrix.BUILD_TARGET }} --all-features
      - name: Run tests for picus in "${{ matrix.BUILD_TARGET }}" mode
        run: cargo +1.85.0 test -p picus --profile ${{ matrix.BUILD_TARGET }} --all-features
      - name: Build halo2 frontend in "${{ matrix.BUILD_TARGET }}" mode
        run: cargo +1.85.0 build -p halo2-llzk-frontend --profile ${{ matrix.BUILD_TARGET }} --no-default-features --features picus-backend
      - name: Run tests for halo2 frontend in "${{ matrix.BUILD_TARGET }}" mode
        run: cargo +1.85.0 test -p halo2-llzk-frontend --profile ${{ matrix.BUILD_TARGET }} --no-default-features --features picus-backend

